@using System.ComponentModel.DataAnnotations
@using HelloWorldBlazor.Interfaces
@using HelloWorldBlazor.Classes

<div style="max-width: 400px;">
    <EditForm Model="@_personFormModel" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudTextField Label="First Name" @bind-Value="_personFormModel.FirstName" For="@(() => _personFormModel.FirstName)" />
                <MudTextField Label="Last Name" @bind-Value="_personFormModel.LastName" For="@(() => _personFormModel.LastName)" />
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Update</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

