@page "/"
@using HelloWorldBlazor.Interfaces
@using HelloWorldBlazor.Classes

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@* <button> will intrisically call StateHasChanged() *@
<button @onclick="(() => _currentSelectedPerson = null)">New Person</button>

<PersonForm AddPersonEventCallback="AddPersonOnClickEventCallback"
            Person="_currentSelectedPerson"/>

<button @onclick="DeletePersonOnClick">
    Delete @(_currentSelectedPerson?.DisplayName ?? "no selection")
</button>

@foreach(IPerson person in PersonRepository.GetPeople())
{
   <PersonRenderer Person="person"
                   OnClickPersonEventCallback="SetCurrentSelectionOnClick"/>
}

Update @(_currentSelectedPerson?.DisplayName ?? "no selection")



